@import "./reset.css";



:root {
    --app-dark-bg: #1a1d28;
    --app-red: #ff3c57;
    --app-green: #33ab4e;
    --app-purple: #833cff;
    --app-orange: #ff833c;
    --app-blue: #3c57ff;
    --app-blue-hover: #364ee6;
   }

   body {
    background-color: var(--app-dark-bg);
   }
   h2 {
    font-size: 60px;
   }

   h2, p {
    color: #fff;
    text-align: center;
    margin-bottom: 50px;
   }
   .message {
    margin-top: 50px;
   }

.center {
    display: grid;
    height: 100vh;
    justify-content: center;
    place-items: center;

}

.icon {
    font-size: 20px;
    height: 50px;
    width: 50px;
    color: #fff;
}



.alarm {
    font-size: 15px;
    font-weight: 400;
    display: inline-block;
    list-style: none;
    text-align: center;
    line-height: 40px;
    width: 140px;
    border-radius: 6px;
    border: 1px solid var(--app-green);
    background-color: var(--app-green);
    color: #000;
    cursor: pointer;
}

.alarm:hover {
    background-color: var(--app-orange);
    border: 1px solid var(--app-orange);
    transition: background-color 0.1s ease-in-out;
}

input[type="text"] {
    width: 140px;
    height: 48px;
    padding: 0 15px;
    border: 1px solid #000;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 6px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 26px 30px -10px, rgba(0, 0, 0, 0.1) 0px 16px 10px -10px;
    font-size: 17px;
    font-weight: 400;
    color: #fff;
    text-align: center;
  }

  .content  {
    display: flex;
    gap: 20px;
  }

  .alarm-div {
    display: flex;
    justify-content: center;
  }

